@import '~sass/mixins.scss';

.user-suggestions-container,
.user-input-container {
  box-sizing: border-box;
  width: 70%;
  min-width: 480px;
  background-color: white;
  box-shadow: 0px 1px 5px #dcdcdc;
  border-radius: 3px;
  padding: 20px;
}

.user-suggestions-container {
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;

  .fa {
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: rgba(white, 0.8);
    background-color: #247EB4;

    &:hover {
      color: white;
      background-color: rgba(#247EB4, 0.8);
    }

    &:first-child {
      margin-right: 5px;
    }

    &:last-child {
      margin-left: 5px;
    }

    &.not-show {
      visibility: hidden;
    }
  }
}

.user-input-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-game-container {
  padding: 20px 0;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border: 0;

  &> div {
    position: relative;
  }

  h1 {
    margin-top: 0;
  }

  h3 {
    width: 100%;
    color: black;
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
    padding: 0 10px;
  }

  button.submit {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    padding: 5px 10px;
    color: rgba(white, 0.8);
    border: 0;
    font-size: 18px;
    border-radius: 3px;
    background-color: #45b2e8;

    &:enabled {
      @include raiseButton(1px);
      box-shadow: none;

      &:hover {
        background-color: rgba(#45b2e8, 0.96);
        color: white;
      }
    }

    &:disabled {
      background-color: #c0c0c0;
      cursor: not-allowed;
    }

    .chevron-right,
    .underscore {
      transition: transform 0.3s ease-in-out;
      font-family: 'Quicksand', sans-serif;
      transform: translate(0, 0);
    }

    .underscore {
      margin-right: 5px;
    }

    &:enabled:hover {
      .chevron-right {
        transform: translate(10px, -2px);
      }

      .underscore {
        transform: translate(-10px, -8px);
      }
    }
  }

  ul {
    position: absolute;
    background-color: white;
    font-size: 18px;
    display: flex;
    box-shadow: 0px 1px 5px #dcdcdc;
    flex-direction: column;
    border: 0;
    align-items: center;
    width: 330px;
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out 0.1s;
    transform-origin: top left;
    visibility: visible;
    transform: scaleY(1);
    opacity: 1;

    &.not-show {
      visibility: hidden;
      opacity: 0;
      transform: scaleY(0);
    }
  }

  li {
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    padding-left: 10px;
    background-color: white;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #E0E0E0;
    }
  }
}

.user-input {
  margin-top: 10px;
  position: relative;

  & > input {
    @include drawBorderOnFocus(#666);
    position: relative;
    width: 300px;
    padding: 5px 15px;
    font-size: 18px;
    border-radius: 3px;
    box-shadow: 0px 1px 5px #dcdcdc;
    border: 0;
    outline: 0;
  }

  div {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #757575;
    cursor: pointer;
  }
}


.user-suggestions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px 20px 5px;

  > div {
    border-radius: 3px;
    border: 0;
    padding: 10px 20px;
    display: flex;
    box-shadow: 0px 1px 5px #dcdcdc;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100px;
    margin-left: 10px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;

    &:nth-child(2) {
      margin-left: 0;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  .name {
    font-weight: 700;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .stats {
    span {
      margin-right: 5px;
    }
  }

  button {
    @include raiseButton(1px);
    box-shadow: none;
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 16px;
    background-color: #24b47e;
    border-radius: 3px;
    color: rgba(white, 0.9);
    outline: 0;
    border: 0;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: rgba(#24b47e, 0.97);
    }
  }
}

@media (max-device-width: 768px) {
 .new-game-container {
    width: 70%;
    padding: 50px;
    border: 3px solid #E0E0E0;
  }

  .new-game-container > h1 {
    font-size: 50px;
  }

  .user-input > input {
    width: 400px;
    padding: 10px 20px;
    font-size: 36px;
    border-radius: 3px;
    border: 1px solid #E0E0E0;
  }
  .user-input div {
    font-size: 50px;
  }
  .new-game-container input[type="submit"] {
    margin-top: 5%;
    padding: 15px 25px;
    font-size: 36px;
  }
  .new-game-container ul {
    top: 70px;
    font-size: 36px;
    width: 440px;
  }
  .new-game-container li{
    padding: 5px 0px;
    padding-left: 10px;
  }
}

@media (max-device-width: 414px) {
 .new-game-container {
    width: 80%;
    padding: 50px;
  }

  .new-game-container > h1 {
    font-size: 65px;
  }

  .user-input > input {
    width: 600px;
    padding: 15px 25px;
    font-size: 46px;
    border-radius: 3px;
    border: 1px solid #E0E0E0;
  }
  .user-input div {
    font-size: 70px;
  }

  .new-game-container input[type="submit"] {
    padding: 25px 40px;
    font-size: 46px;
  }
  .new-game-container ul {
    top: 90px;
    font-size: 46px;
    width: 550px;
  }
  .new-game-container li {
    padding: 15px 0px;
    padding-left: 15px;
  }
}
