@import '~sass/mixins.scss';

.new-game-container {
  width: 50%;
  min-width: 400px;
  justify-content: space-between;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 1px 5px #dcdcdc;
  border: 0;

  &> div {
    position: relative;
  }

  h3 {
    width: 100%;
    color: black;
    text-align: left;
    margin: 0;
  }
  input[type="submit"] {
    cursor: pointer;
    margin-top: 5%;
    padding: 10px 20px;
    border: 1px solid #E0E0E0;
    font-size: 20px;
    border-radius: 3px;
    background-color: #1bb72b;

    &:disabled {
      background-color: #c0c0c0;
      cursor: not-allowed;
    }

  }

  ul {
    position: absolute;
    background-color: white;
    font-size: 20px;
    display: flex;
    box-shadow: 0px 1px 5px #dcdcdc;
    flex-direction: column;
    border: 0;
    align-items: center;
    width: 330px;
    transition: transform 0.3s ease-in-out;
    transform-origin: top left;
    visibility: visible;
    transform: scaleY(1);

    &.not-show {
      visibility: hidden;
      transform: scaleY(0);
    }
  }

  li {
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    padding-left: 10px;

    &:hover {
      background-color: #E0E0E0;
    }
  }
}

.user-input > input {
  @include drawBorderOnFocus(#666);
  position: relative;
  width: 300px;
  padding: 5px 15px;
  font-size: 18px;
  border-radius: 3px;
  box-shadow: 0px 1px 5px #dcdcdc;
  border: 0;
  outline: 0;
}

.user-input div {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #757575;
  cursor: pointer;
}

.user-suggestions {
  display: flex;
  padding: 10px 20px 20px 20px;
  width: 100%;
  overflow: scroll;

  > div {
    border-radius: 3px;
    border: 0;
    padding: 10px 20px;
    display: flex;
    box-shadow: 0px 1px 5px #dcdcdc;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100px;
    margin-left: 10px;
    transform: scale(1);
    transition: transform 0.3s ease-in;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  .name {
    font-weight: 700;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .stats {
    span {
      margin-right: 5px;
    }
  }

  button {
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 16px;
    background-color: #24b47e;
    border-radius: 3px;
    color: white;
    outline: 0;
    border: 0;
    cursor: pointer;

    &:hover {
      background-color: rgba(#24b47e, 0.75);
    }
  }
}

@media (max-device-width: 768px) {
 .new-game-container {
    width: 70%;
    padding: 50px;
    border: 3px solid #E0E0E0;
  }

  .new-game-container > h1 {
    font-size: 50px;
  }

  .user-input > input {
    width: 400px;
    padding: 10px 20px;
    font-size: 36px;
    border-radius: 3px;
    border: 1px solid #E0E0E0;
  }
  .user-input div {
    font-size: 50px;
  }
  .new-game-container input[type="submit"] {
    margin-top: 5%;
    padding: 15px 25px;
    font-size: 36px;
  }
  .new-game-container ul {
    top: 70px;
    font-size: 36px;
    width: 440px;
  }
  .new-game-container li{
    padding: 5px 0px;
    padding-left: 10px;
  }
}

@media (max-device-width: 414px) {
 .new-game-container {
    width: 80%;
    padding: 50px;
  }

  .new-game-container > h1 {
    font-size: 65px;
  }

  .user-input > input {
    width: 600px;
    padding: 15px 25px;
    font-size: 46px;
    border-radius: 3px;
    border: 1px solid #E0E0E0;
  }
  .user-input div {
    font-size: 70px;
  }

  .new-game-container input[type="submit"] {
    padding: 25px 40px;
    font-size: 46px;
  }
  .new-game-container ul {
    top: 90px;
    font-size: 46px;
    width: 550px;
  }
  .new-game-container li {
    padding: 15px 0px;
    padding-left: 15px;
  }
}
