@import '~sass/mixins.scss';

/* chat */
.chat-screen {
  flex: 1;
  max-width: 450px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.message-list div:first-child {
  display: none;
}

.message-list,
.msg-input-form {
  font-family: 'Raleway', sans-serif;
  background-color: white;
  border: 0;
  box-shadow: 0px 1px 5px #dcdcdc;
  border-top: 0;
  border-right: 0;
  border-radius: 3px;
  width: 90%;
  margin: 0;
}

.message-list {
  overflow-y: scroll;
  padding: 15px;
  padding-top: 30px;
  height: 80%;

  li {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  li span {
    font-weight: 700;
  }
}

.msg-input-form {
  margin-top: 3px;
  padding: 15px;
  display: flex;
  justify-content: space-between;

  input {
    outline: 0;
    box-shadow: 0px 1px 5px #dcdcdc;
  }
  input[type="text"] {
    padding: 5px;
    padding-left: 10px;
    font-size: 14px;
    width: 80%;
    border-radius: 2px;
    border: 0;
  }

  input[type="submit"] {
    @include raiseButton(2px);
    font-size: 16px;
    border-radius: 3px;
    padding: 5px 10px;
    color: rgba(white, 0.9);
    background-color: #009688;
    border: 0;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: rgba(#009688, 0.9);
    }
  }
}

@media screen and (max-width: 768px) {
  .chat-screen {
    visibility: hidden;
    position: absolute;
    height: calc(100% - 70px);
    width: 300px;
    right: 0;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out 0.1s;
  }
  .message-list div:first-child {
    display: block;
    cursor: pointer;
    position: absolute;
    top: -5px;
    left: 5px;
    font-size: 36px;
  }
  .chat-close {
    transform: translateX(250px);
    opacity: 0;
  }
  .chat-open {
    visibility: visible;
    transform: translateX(0px);
    opacity: 1;
  }
  .message-list {
    border: 0;
    font-size: 20px;
  }
}

@media (max-device-width: 768px) {
  .chat-screen {
    transform: translateX(250px);
    height: calc(100% - 70px);
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    height: 100%;
    width: 100%;
    flex-direction: column;
    right: 0;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out 0.1s;
  }

  .message-list div:first-child {
    visibility: visible;
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: 130px;
    font-size: 106px;
  }

  .chat-close {
    opacity: 0;
    transform: translateX(250px);
  }
  .chat-open {
    opacity: 1;
    display: flex;
    transform: translateX(0px);
  }

  .message-list, .msg-input-form {
    width: 70%;
  }
  .message-list {
    overflow-y: scroll;
    padding: 30px;
    padding-top: 50px;
    max-height: none;
    min-height: none;
    height: 100%;
  }
  .message-list li {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .msg-input-form {
    padding: 30px;
  }

  .msg-input-form > input[type="text"] {
    padding: 15px;
    font-size: 30px;
    width: 80%;
  }
  .msg-input-form > input[type="submit"] {
    font-size: 30px;
    padding: 15px;
  }
}

@media (max-device-width: 414px) {
  .msg-input-form > input[type="text"],
  .msg-input-form > input[type="submit"],
  .message-list li  {
    font-size: 46px;
  }
}
