@import '~sass/mixins.scss';

.game-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;

  &.practice {
    justify-content: center;
  }
}

.game-screen {
  padding-top: 20px;
  margin: 0 auto;
  width: 60%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.button-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 10px;

  div {
    font-family: 'QuickSand', sans-serif;
    font-size: 16px;
    font-weight: 700;
  }
}
.solve-it,
.open-chat {
  @include raiseButton(1px);
  /*box-shadow: 0px 1px 5px #666666;*/
  cursor: pointer;
  padding: 10px 15px;
  width: 100px;
  border: 1px solid transparent;
  border-radius: 3px;
  color: rgba(white, 0.8);
  font-size: 18px;
}

.solve-it {
  background-color: #e25950;
}
.solve-it:hover {
  color: white;
  background-color: rgba(#e25950, 0.97);
}
.open-chat {
  visibility: hidden;
  background-color: #6772e5;
}
.open-chat:hover {
  background-color: rgba(#6772e5, 0.97);
}

.letter-box {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 5px #dcdcdc;
  border-radius: 3px;
  background-color: #24b47e;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  width: 15px;
  height: 25px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;

  &:not(.used) {
    @include drawBorderOnHover(white);
  }

  &.used {
    cursor: not-allowed;
  }
}

.letter-box:hover {
  background-color: rgba(#24b47e, 0.9);
}

.letter-box:active {
  box-shadow: inset 0px 0px 0px 50px rgba(0,0,0,0.2);
}

.alphabets-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
}

.used {
  background-color: gray;
  cursor: pointer;
}
.used:hover {
  background-color: gray;
}

.guess-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 25px;
  padding: 10px;
  font-size: 20px;
  margin-left: 5px;
  border-radius: 4px;
  box-shadow: 0px 1px 5px #666;
  border: 0;
  font-weight: 400;
  font-family: 'QuickSand', sans-serif;

  &:first-child {
    margin-left: 0;
  }
}

.correct-container {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.diagrams-container {
  display: flex;
  justify-content: center;
}

.diagram {
  text-align: center;

  h2 {
    font-family: 'QuickSand', sans-serif;
    font-weight: 400;

    &.bold {
      font-weight: 700;
    }
  }

  &:first-child {
    margin-right: 10%;
  }

  &> div {
    width: 140px;
    height: 100px;
  }
}

@media screen and (max-width: 1200px) {
  .game-screen {
    padding-top: 20px;
    margin: 0;
    margin-left: 5%;
    width: 60%;
    max-width: 450px;
  }
}

@media screen and (max-width: 768px) {
  .game-container {
    justify-content: center;
  }

  .game-screen {
    width: 90%;
    max-width: 450px;
  }

  .guess-letter {
    width: 20px;
    height: 30px;
    padding: 10px;
    font-size: 26px;
    margin-right: 10px;
    font-weight: 400;
  }

  .letter-box {
    width: 25px;
    height: 30px;
  }
  .open-chat {
    visibility: visible;
  }
}

@media (max-device-width: 768px) {
  .game-container {
    justify-content: center;
  }

  .game-screen {
    width: 90%;
    max-width: initial;
  }

  .correct-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .guess-letter {
    width: 30px;
    height: 40px;
    padding: 20px;
    font-size: 46px;
    margin-left: 20px;
  }

  .letter-box {
    width: 60px;
    height: 80px;
    font-size: 34px;
    padding: 10px;
    margin: 10px 10px;
  }
  .open-chat {
    visibility: visible;
  }
  .solve-it, .open-chat {
    padding: 20px 15px;
    width: 200px;
    font-size: 36px;
  }

  .diagram h2 {
    font-size: 40px;
  }
  .button-div {
    padding-top: 2%;
    padding-bottom: 2%;

    div {
      font-size: 36px;
    }
  }

  .diagram > div {
    width: 210px;
    height: 150px;
  }
}

@media (max-device-width: 414px) {
  .button-div {
    padding-top: 5%;
    padding-bottom: 5%;

    > div {
      font-size: 44px;
    }
  }

  .guess-letter {
    width: 40px;
    height: 55px;
    padding: 20px;
    font-size: 56px;
    margin-left: 20px;
  }

  .letter-box {
    width: 80px;
    height: 100px;
    font-size: 46px;
    padding: 10px;
    margin: 10px 10px;
  }

  .open-chat {
    visibility: visible;
  }

  .solve-it, .open-chat {
    padding: 25px 18px;
    width: 250px;
    font-size: 46px;
  }
  .diagram h2 {
    font-size: 56px;
  }
  .diagram div {
    width: 280px;
    height: 200px;
  }
}
