.navbar-container {
  background-color: white;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #e0e0e0;
}

.navbar-container * {
  font-family: 'QuickSand', sans-serif;
}

.navbar-container > div {
  justify-content: space-between;
  align-items: center;
  color: black;
  height: 70px;
}

.logo {
  font-size: 28px;
}
.navbar ul {
  font-size: 20px;
  width: 200px;
  /*width: 60%;*/
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.navbar a:hover {
  color: grey;
  transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
}

.navbar a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

@media (max-device-width: 768px) {
  .navbar-container,
  .navbar-container > div {
    height: 120px;
    font-size: 30px;
  }
  .navbar ul {
    font-size: 38px;
    max-width: 400px;
  }
  .logo {
    font-size: 42px;
  }
}

@media (max-device-width: 414px) {
  .navbar-container,
  .navbar-container > div {
    height: 180px;
  }

  .navbar ul {
    font-size: 40px;
    width: 500px;
  }

  .logo {
    font-size: 60px;
  }
}
