.navbar-container {
  background-color: white;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #e0e0e0;
}

.navbar-container * {
  font-family: 'QuickSand', sans-serif;
}

.navbar-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  height: 70px;
}

.logo {
  font-size: 28px;
}
.navbar ul {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;


}
.navbar a:hover {
  color: grey;
  transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
}

.navbar a {
  cursor: pointer;
  text-decoration: none;
  color: black;

}
.menu-item {
  margin-left: 30px;
  position: relative;

  &:first-child {
    margin-left: 0;
  }

  .fa {
    font-size: 30px;
    color: #333;
  }

  a:hover .fa {
    color: #666;
  }

  &:hover .tooltip {
    display: flex;
  }
}

@media (max-device-width: 768px) {
  .navbar-container,
  .navbar-container > div {
    height: 120px;
    font-size: 30px;
  }

  .navbar {
    .menu-item {
      margin-left: 50px;
    }

    ul .fa {
      font-size: 48px;
    }
  }

  .logo {
    font-size: 42px;
  }
}

@media (max-device-width: 414px) {
  .navbar-container,
  .navbar-container > div {
    height: 180px;
  }

  .navbar ul .fa {
    font-size: 66px;
  }

  .logo {
    font-size: 60px;
  }
}
