.navbar-container {
  background-color: #B71C1C;
  width: 100%;
  height: 70px;
}
.games-container, .navbar-container > div, .new-game-container, .game-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.navbar-container > div {
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 70px;
}
.games-container {
  flex-direction: column;
  align-items: center;
}
.games-container h1 {
  text-align: center;
}
.games-container li {
  cursor: pointer;
  padding: 20px 40px;
  margin-bottom: 10px;
  font-size: 18px;
  border: 1px solid #E0E0E0;
  border-radius: 7px;
  text-align: center;
}
.games-container span {
  padding-left: 10px;
  padding-right: 10px;
}
.new-game-container {
  width: 50%;
  min-width: 400px;
  height: 220px;
  justify-content: space-around;
  margin-top: 5%;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #E0E0E0;
}
.new-game-container > div {
  position: relative;
}
.user-input > input {
  position: relative;
  width: 300px;
  padding: 5px 15px;
  font-size: 25px;
  border-radius: 3px;
  border: 1px solid #E0E0E0;
}
.user-input div {
  position: absolute;
  right: 2%;
  top: 0;
  font-size: 32px;
  color: #757575;
  cursor: pointer;
}
.new-game-container input[type="submit"] {
  cursor: pointer;
  margin-top: 10px;
  padding: 10px 20px;
  border: 1px solid #E0E0E0;
  font-size: 20px;
  border-radius: 3px;
}
.new-game-container ul {
  position: absolute;
  top: 44px;
  background-color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #E0E0E0;
  border-top: none;
  align-items: center;
  width: 330px;
}
.new-game-container li{
  cursor: pointer;
  padding: 5px 0px;
  padding-left: 10px;
}

.new-game-container li:hover {
  background-color: #E0E0E0;
}
.logo {
  font-size: 28px;
}
.navbar ul {
  font-size: 20px;
  max-width: 350px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.navbar a:hover {
  color: grey;
  transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
}
.navbar a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.game-container {
  margin: 0 auto;
  margin-top: 5%;
  flex-direction: row;
  /*align-items: center;*/
}
.chat-screen {
  flex-grow: 2;
  width: 100%;
}
.game-screen {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.button-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.solve-it, .open-chat {
  cursor: pointer;
  padding: 10px 15px;
  width: 100px;
   border: 1px solid transparent;
  border-radius: 3px;
  color: white;  
  font-size: 18px;
}
.solve-it {
  background-color: #D84315;
}
.solve-it:hover {
  background-color: #FF5722;
}
.open-chat {
  visibility: hidden;
  background-color: #283593;
}
.open-chat:hover {
  background-color: #3949AB;
}
.message-list, .msg-input-form {
  font-family: 'Raleway', sans-serif;
  border: 1px solid black;
  border-radius: 3px;
  width: 90%;
  margin: 0 auto;
}
.message-list {
  overflow-y: scroll;
  padding: 15px;
  height: 70%;
  min-height: 300px;
  max-height: 800px;
}
.message-list li {
  padding-top: 3px;
  padding-bottom: 3px;
}
.msg-input-form {
  margin-top: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.msg-input-form > input[type="text"] {
  padding: 5px;
  font-size: 16px;
  width: 80%;
  border-radius: 2px;
  border: 1px solid black;
}
.msg-input-form > input[type="submit"] {
  font-size: 16px;
  border-radius: 2px;
  padding: 5px;
  color: white;
  background-color: #EF6C00;
  box-shadow: none;
  border: 1px solid black;
  cursor: pointer;
}
.message-list li span {
  font-weight: 700;
}

h3 {
  color: white;
}
.user-name {
  transform: translate(-50%, -100%);
  top: 50%;
  left: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  top: 50%;
}
.user-name > input[type="text"] {
  width: 60%;
  padding: 10px;
  font-size: 18px;
  height: 20px;
  border: 1px solid black;
  border-radius: 3px;
  margin-top: 20px;
}
.user-name > input[type="submit"] {
  margin-top: 20px;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 3px; 
  min-width: 150px;
  width: 20%;
  cursor: pointer;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
}


.letter-box {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #388E3C;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  width: 15px;
  height: 25px;
  cursor: pointer;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
}
.letter-box:hover {
  background-color: #4CAF50;
}
.letter-box div {
  transform: translateY(10%);
}
.alphabets-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
}
.cf:after {
  clear: both;
  display: block;
  content: " ";
}
.used {
  background-color: gray;
  cursor: pointer;
}
.used:hover {
  background-color: gray;
}

.guess-letter {
  float: left;
  width: 15px;
  height: 25px;
  padding: 10px;
  font-size: 20px;
  border-bottom: 2px solid black;
  margin-right: 10px;
  font-weight: 700;
}

.empty {
  border-bottom: 2px solid black;
}
.correct-container {
  padding-top: 5%;
  padding-bottom: 5%;
}
.diagrams-container {
  display: flex;
  justify-content: center;
}
.diagram {
  text-align: center;
}
.diagram:first-child {
  margin-right: 10%;
}
.loader {
  top: 35%;
  color: #ffffff;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load 1.3s infinite linear;
  animation: load 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.flash-error {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #FDD835;
  top: 0;
  left: 50%;
  max-width: 500px;
  width: 50%;
  min-width: 300px;
  height: 40px;
  font-size: 18px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  animation: slide-down 1s ease-in-out;
  -webkit-animation: slide-down 1s ease-in-out;
  color: white;
}
@media screen and (max-width: 760px) {
  .chat-screen {
    display: none;
    background-color: white;
    position: fixed;
    height: 80%;
    width: 250px;
    right: 0;
    animation: slide 1s ease;
    -webkit-animation: slide 1s ease;
  }

  .chat-open {
    display: block;
  }
  .guess-letter {
    width: 20px;
    height: 30px;
    padding: 10px;
    font-size: 26px;
    border-bottom: 2px solid black;
    margin-right: 10px;
    font-weight: 700;
  }

  .letter-box {
    width: 25px;
    height: 30px;
  }
  .open-chat {
    visibility: visible;
  }

}
@-webkit-keyframes slide {
  0% { transform: translateX(250px); }
  100% { transform: translateX(0px); } 
}
@keyframes slide {
  0% {    transform: translateX(250px); }
  100% { transform: translateX(0px); }

}
@-webkit-keyframes slide-down {
  0% { opacity: 0; }
  100% { opacity: 1;} 
}
@keyframes slide-down {
  0% { opacity: 0;}
  100% { opacity: 1;}

}
@-webkit-keyframes load {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
