body {
  background-color: #f0f0f0;
}

form {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  padding: 100px 40px 40px 40px;
  border: 1px solid #E0E0E0;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  align-items: center;
  width: 50%;
  width: 280px;
  box-shadow: 0px 1px 5px #dcdcdc;
}
input {
  padding: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #E0E0E0;
  width: 100%;
  height: 25px;
  outline: 0;
}
input[type="submit"] {
  margin-top: 10px;
  margin-bottom: 0;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #f5321d;
  color: white;
  width: 100%;
  height: 40px;
}

.nav {
  width: 100%;
  left: 0;
  display: flex;
  position: absolute;
  top: 0;
  color: white;
}

#login {
  background-color: #009688;
}

#login:hover {
  background-color: rgba(0, 150, 136, 0.75);
}
#signup {
  background-color: #BF360C;
}
#signup:hover {
  background-color: rgba(191, 54, 12, 0.75);
}
#error {
  position: absolute;
  text-align: center;
  font-size: 15px;
  top: 50px;
  color: red;
  white-space: nowrap;
  font-weight: 700;
}

.nav div {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

.link {
  background-color: rgb(66, 66, 66);
  color: #eeeeee;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  background-color: rgba(66, 66, 66, 0.75);
  color: white;
}

.active {
  background-color: white;
  color: black;
}

.active:hover {
  background-color: white;
  color: black;
}

.nav div:first-child:not(.active) {
  box-shadow: inset -5px 0px 5px -4px rgba(220,220,220,1);
}
.nav div:last-child:not(.active) {
  box-shadow: inset 5px 0px 5px -4px rgba(220,220,220,1);
}
.error-input {
  box-shadow: 0px 0px 10px 3px #B71C1C;
  -moz-box-shadow: 0px 0px 10px 3px #B71C1C;
  -webkit-box-shadow: 0px 0px 10px 3px #B71C1C;
}


@media (max-device-width: 768px){
  #error {
    top: 65px;
  }
  form {
    width: 50%;
    padding-top: 150px;
  }
  form * {
    font-size: 28px;
  }
  input {
    height: 50px;
  }
  input[type="submit"] {
    height: 60px;
    font-size: 28px;
  }
  .active, .link {
    font-size: 28px;
  }
}
@media (max-device-width: 768px){
  #error {
    top: 90px;
  }
  form {
    width: 70%;
    padding-top: 200px;
  }
  form * {
    font-size: 36px;
  }
  input {
    height: 70px;
  }
  input[type="submit"] {
    height: 80px;
    font-size: 36px;
  }
  .active, .link {
    font-size: 36px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}