.form-input::before,
.form-input::after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  z-index: 2;
  border-radius: 3px;
  border: 2px solid transparent;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
}

.form-input.focus::before {
  width: 101%;
  height: 101%;
  border-top-color: #69e7f8;
  border-right-color: #69e7f8;
  transition: width 0.35s ease-in-out, height 0.35s ease-in-out 0.35s;
  -webkit-transition: width 0.35s ease-in-out, height 0.35s ease-in-out 0.35s;
}

.form-input.focus::after {
  width: 101%;
  height: 101%;
  border-bottom-color: #69e7f8;
  border-left-color: #69e7f8;
  transition: height 0.35s ease-in-out, width 0.35s ease-in-out 0.35s;
  -webkit-transition: height 0.35s ease-in-out, width 0.35s ease-in-out 0.35s;
}

body {
  background-color: #f0f0f0;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}

h2 {
  opacity: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 58px;
  text-align: center;
  font-weight: 500;
  transition: opacity 1s ease-in;
}

p {
  font-family: 'Quicksand', sans-serif;
}

h2 div {
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}

.main-container {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 1s ease-in;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 1px 5px #dcdcdc;
}

.fade-in {
  opacity: 1;
}

form {
  position: relative;
  background-color: white;
  padding: 40px;
  padding-top: 50px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: column;
  border-radius: 0 0 4px 4px;
  align-items: center;
  width: 50%;
  width: 280px;
}
.hidden {
  display: none;
}

input {
  padding: 5px;
  font-size: 16px;
  width: 100%;
}

input[type="submit"] {
  margin-top: 20px;
  margin-bottom: 0;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  background-color: #f5321d;
  color: white;
  width: 100%;
  height: 40px;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input[type="submit"]:hover {
  border: 0;
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -webkit-box-shadow: 0px 1px 5px 1px rgba(122,122,122,0.75);
  -moz-box-shadow: 0px 1px 5px 1px rgba(122,122,122,0.75);
  box-shadow: 0px 2px 1px 1px rgba(122,122,122,0.75);
}

input[type="submit"]:active {
  border: 0;
  transform: translateY(2px);
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -webkit-box-shadow: inset 0px 0px 0px 50px rgba(122,122,122,0.1);
  -moz-box-shadow: inset 0px 0px 0px 50px rgba(122,122,122,0.1);
  box-shadow: inset 0px 0px 0px 50px rgba(122,122,122,0.1);
}

.form-input {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

input[type=text],
input[type=password] {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  outline: 0;
  border-radius: 3px;
  border: 0;
  padding: 7px 10px;
  box-shadow: 0px 1px 5px #dcdcdc;
  -moz-box-shadow: 0px 1px 5px #dcdcdc;
  -webkit-box-shadow: 0px 1px 5px #dcdcdc;
}

.nav {
  width: 100%;
  left: 0;
  display: flex;
  top: 0;
  color: white;
}

#login {
  background-color: #3ecf8e;
}

#login:hover {
  background-color: rgba(62, 207, 142, 0.85);
}

#login:active:hover {
  background-color: #009688;
}

#signup {
  background-color: #e25950;
}
#signup:active:hover {
 background-color: #e25950;
}
#signup:hover {
  background-color: rgba(226, 89, 80, 0.85);
}
#error {
  position: absolute;
  text-align: center;
  font-size: 15px;
  top: 0;
  color: red;
  white-space: nowrap;
  font-weight: 700;
}

.nav div {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  position: relative;
}

.link:first-child {
  border-radius: 3px 0 0 0;
}

.link:last-child {
  border-radius: 0 3px 0 0;
}
.link {
  background-color: #6772e5;
  color: #eeeeee;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  background-color: rgba(103, 114, 229, 0.85);
  color: white;
}

.active {
  background-color: white;
  color: black;
}

.active:hover {
  background-color: white;
  color: black;
}

.nav div:not(.active):after {
  z-index: 3;
  position: absolute;
  content: ' ';
  left: 0;
  bottom: -5px;
  width: calc(100% + 2px);
  height: 5px;
  box-shadow: inset 0px 5px 5px -4px rgba(0, 0, 0,1);
}
.nav div:last-child:not(.active):after {
  left: -2px;
}

.nav div:first-child:not(.active):before {
  z-index: 3;
  position: absolute;
  content: ' ';
  right: -5px;
  top: 0;
  width: 5px;
  height: calc(100% + 2px);
  box-shadow: inset 5px 0px 5px -4px rgba(0, 0, 0,1);
}
.nav div:last-child:not(.active):before {
  z-index: 3;
  position: absolute;
  content: ' ';
  left: -5px;
  top: 0;
  width: 5px;
  height: calc(100% + 2px);
  box-shadow: inset -5px 0px 5px -4px rgba(0, 0, 0,1);
}

.error-input {
  box-shadow: 0px 0px 10px 3px #B71C1C;
  -moz-box-shadow: 0px 0px 10px 3px #B71C1C;
  -webkit-box-shadow: 0px 0px 10px 3px #B71C1C;
}

.shake {
  -webkit-animation: headShake 0.5s ease-in-out;
  animation: headShake 0.5s ease-in-out;
}

@keyframes headShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes headShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@media (max-device-width: 768px){
  #error {
    top: 65px;
  }
  form {
    width: 50%;
    padding-top: 150px;
  }
  form * {
    font-size: 28px;
  }
  input {
    height: 50px;
  }
  input[type="submit"] {
    height: 60px;
    font-size: 28px;
  }
  .active, .link {
    font-size: 28px;
  }
}
@media (max-device-width: 768px){
  #error {
    top: 90px;
  }
  form {
    width: 70%;
    padding-top: 200px;
  }
  form * {
    font-size: 36px;
  }
  input {
    height: 70px;
  }
  input[type="submit"] {
    height: 80px;
    font-size: 36px;
  }
  .active, .link {
    font-size: 36px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}