<!DOCTYPE html>
<html>
<head>
  <title>Gallow</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/public/styles/reset.css">
  <link rel="stylesheet" type="text/css" href="/public/styles/userform.css">
  <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
  <meta name="csrf_token" content="{{.CSRFToken}}" />
</head>
<body>
  <form id="log-in-form">
    <div class="nav">
      <div class="link" onclick="handleRedirection()">Sign Up</div>
      <div class="link active">Log In</div>
    </div>
    <div id="error"></div>
    <input
      type="text"
      id="username"
      placeholder="Username"
      autoFocus
      />
    <input
      type="password"
      id="password"
      placeholder="Password"
      />
    <input type="submit" value="Log In" id="login" />
  </form>

  <script>
    function handleRedirection() {
      window.location.href = '/signup';
    }
    var showError = function(err){
      $("#error").html("<p>" + err + "</p>");

      setTimeout(function(){
        $("#error").html("");
      }, 4000)
    }

    $("#log-in-form").on("submit", function(e) {
      e.preventDefault();

      var data = {
        username: $("#username").val().toLowerCase(),
        password: $("#password").val()
      }, token;
      var elements = document.getElementsByTagName("meta");
      for (var i = 0; i < elements.length; i++){
        if (elements[i].name === "csrf_token"){
          token = elements[i].content;
          break;
        }
      }
      $.ajax({
        method: "POST",
        headers: {
          'X-CSRF-TOKEN': token
        },
        url: "/api/session/new",
        data: JSON.stringify(data),
        contentType: "application/json",
        success: function(data){
          window.location.replace("/");
        },
        error: function(err) {
          showError("Password or username error");
        }
      })
    })
  </script>
</body>
</html>
