<!DOCTYPE html>
<html>
<head>
  <title>Lost In Translation</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/public/styles/reset.css">
  <link rel="stylesheet" type="text/css" href="/public/styles/userform.css">
  <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
  <meta name="csrf_token" content="{{.CSRFToken}}" />
</head>
<body>
  <form id="log-in-form">
    <div class="nav">
      <div class="link"><a href="/signup">Sign Up</a></div>
      <div class="active">Log In</div>
    </div>
    <input
      type="text"
      id="username"
      placeholder="Username"
      />
    <input
      type="password"
      id="password"
      placeholder="Password"
      />
    <input type="submit" value="Log In" id="login"/>
    <!-- <div class="redirect">Already have an account? <a href="/signup">Sign Up</a></div> -->

    <div class="or">OR</div>
    <div class="facebook-icon"><div class="__facebook-logo"></div><span>Log in with Facebook</span></div>
    <div class="google-icon"><div class="__google-logo"></div><span>Log In With Google</span></div>
  </form>

  <script>
    $("#log-in-form").on("submit", function(e) {
      e.preventDefault();
      let data = {
        username: $("#username").val(),
        password: $("#password").val()
      }
      $.ajax({
        method: "POST",
        url: "/api/session/new",
        data: JSON.stringify(data),
        contentType: "application/json",
        success: function(data){
          console.log(data);
          window.location.replace("/");
        },
        err: function(err) {
          console.log(err);
        }
      })
    })
  </script>
</body>
</html>