<!DOCTYPE html>
<html>
<head>
  <title>Lost In Translation</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/public/styles/reset.css">
  <link rel="stylesheet" type="text/css" href="/public/styles/main.css">
  <meta name="csrf_token" content="{{.CSRFToken}}" />
</head>
<body>
  <form id="log-in-form">
    <h1>Log In</h1>
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      placeholder="Username"
      />
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      placeholder="Password"
      />
    <input type="submit" value="Log In"/>
  </form>
</body>
</html>