<!DOCTYPE html>
<html>
<head>
  <title>Gallow</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/public/styles/reset.css">
  <link rel="stylesheet" type="text/css" href="/public/styles/userform.css">
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
  <meta name="csrf_token" content="{{.CSRFToken}}" />
</head>
<body>
  <form id="sign-up-form">
    <div class="nav">
      <div class="active">Sign Up</div>
      <div class="link"><a href="/login">Log In</a></div>
    </div>
    <div id="error"></div>
    <input
      type="text"
      id="nickname"
      placeholder="Nickname"
      autoFocus
      />
    <input
      type="text"
      id="username"
      placeholder="Username"
      />
    <input
      type="password"
      id="password"
      placeholder="Password"
      />

    <input type="submit" value="Sign Up" id="signup"/>
    <div class="or">OR</div>
    <div class="facebook-icon"><div class="__facebook-logo"></div><span>Log in with Facebook</span></div>
    <div class="google-icon"><div class="__google-logo"></div><span>Log In With Google</span></div>
  </form>

  <script>
    $("#sign-up-form").on("submit", function(e) {
      e.preventDefault();
      var data = {
        username: $("#username").val().toLowerCase(),
        nickname: $("#nickname").val().toLowerCase(),
        password: $("#password").val()
      }, token;
      if (!checkError(data)) return;
      var elements = document.getElementsByTagName("meta");
      for (var i = 0; i < elements.length; i++){
        if (elements[i].name === "csrf_token"){
          token = elements[i].content;
          break;
        }
      }
      $.ajax({
        method: "POST",
        headers: {
          'X-CSRF-TOKEN': token
        },
        url: "/api/user/new",
        data: JSON.stringify(data),
        contentType: "application/json",
        success: function(data){
          window.location.replace("/");
        },
        error: function(err) {
          $("#error").html("<p>"+ err.responseJSON + "</p>");
          setTimeout(function(){
            $("#error").html("");
          }, 4000)
        }
      })
    })

    var showError = function(err, id){
      $("#error").html("<p>" + err + "</p>");
      if (id) $("#" + id).addClass("error-input")

      setTimeout(function(){
        $("#error").html("");
        if (id) $("#" + id).removeClass("error-input")
      }, 2000)
     }

    var checkError = function(data) {
      var regex = /^.{8,}$/,
        passwordTest = regex.test(data.password),
        nicknameTest = regex.test(data.nickname),
        usernameTest = regex.test(data.username);

      if (!nicknameTest) {
        showError("Nickname must be at least 8 chars long.", "nickname");
        return false;
      }
      if (!usernameTest) {
        showError("Username must be at least 8 chars long.", "username");
        return false;
      }
      if (!passwordTest){
        showError("Password must be at least 8 chars long.", "password");
        return false;
      }
      return true;
    }
  </script>
</body>
</html>